@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.btn {
  @apply inline-flex items-center px-2 py-1 m-1 text-lg text-gray-800 bg-orange-300 border border-l-4 border-gray-800 border-solid rounded-lg shadow-lg;
}
.btn:hover {
  @apply animate-pulse text-white bg-blue-400 border-l border-r-4 shadow-xl;
}

.card {
  @apply mx-auto my-8 overflow-hidden text-center rounded-lg shadow-lg;
}

body {
  background: linear-gradient(
    -45deg,
    #dddddd,
    #a7a7a788,
    #dddddd,
    #a7a7a788,
    #dddddd
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* background: linear-gradient(
    -45deg,
    #000000a8,
    #072c64b0,
    #8d0f16c7,
    #0fbe58ce
  ); */
/* background: linear-gradient(
    -45deg,
    #000000ce,
    #092349d2,
    #0c234ec7,
    #000000ce
  ); */
